{% extends "base.html" %}
{% load static %}

{% block loadcss %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" crossorigin="anonymous" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block content %}
{% if request.user.is_superuser %}
<div class="row">
    <div class="col-lg-4">
        <form action="{% url 'update_daily_data' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="csv_file">
          <button type="submit">Upload File</button>
        </form>
    </div>
    <div class="col-lg-4">
        <form action="{% url 'update_stock_types' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="csv_file">
          <button type="submit">Upload File</button>
        </form>
    </div>
    <div class="col-lg-4">
        <a href="{% url 'refresh' %}">Refresh</a>
    </div>
</div>
{% endif %}
<p>The latest date is: {{ latest_date }}</p>
<div class="row all_types">
    <div class="col-lg-7 stock-board">
        <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="input-group">
          <div>
            <input type="search" name="stock_code" id="stock_code" placeholder="Search" class="form-control" />
          </div>
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
        </div>
        </form>
        {% if trace_data %}
        <div class="object-content-info">
            <a>{{ trace_data_info.title }} {{ trace_data_info.title_name }}</a>
            {% if trace_data_info.pred5 %}
            <a>RMSE-5d: {{ trace_data_info.pred5.rmse }}</a>
            <a>RMSE-10d: {{ trace_data_info.pred10.rmse }}</a>
            {% endif %}
        </div>
        <div class="object-content">
          <div id="trace-chart"></div>
        </div>
        {% if trace_data_info.pred5 %}
        <div class="object-content">
          <div id="chips-chart"></div>
        </div>
        <div class="object-content-info">
            <div class="row">
                <div class="col-3">
                    <a>Model-5d:</a>
                </div>
                <div class="col-3">
                    <a>Close:{{ trace_data_info.pred5.get_close }} </a>
                </div>
                <div class="col-3">
                    {% if 0 < trace_data_info.pred5.percentage %}
                    <a style="color: #830000;">Pred:{{trace_data_info.pred5.get_pred}}</a>
                    {% else %}
                    <a style="color: #00500b;">Pred:{{trace_data_info.pred5.get_pred}}</a>
                    {% endif %}
                </div>
                <div class="col-3">
                    {% if 0 < trace_data_info.pred5.percentage %}
                    <a style="color: #830000;"><i class="bi bi-arrow-up-circle"></i>{{ trace_data_info.pred5.percentage }}%</a>
                    {% else %}
                    <a style="color: #00500b;"><i class="bi bi-arrow-down-circle"></i>{{ trace_data_info.pred5.percentage }}%</a>
                    {% endif %}
                </div>
                <div class="col-3">
                    <a>WP:{{ trace_data_info.pred5.wp }}%({{ trace_data_info.pred5.count }})</a>
                </div>
                <div class="col-3">
                    <a>LP:{{trace_data_info.pred5.get_lp}}%</a>
                </div>
                <div class="col-3">
                    <a>PWP:{{trace_data_info.pred5.pwp}}%({{trace_data_info.pred5.pred_high}})</a>
                </div>
                <div class="col-3">
                    <a>PLP:{{trace_data_info.pred5.get_plp}}%</a>
                </div>
            </div>
        </div>
        <div class="object-content-info">
            <div class="row">
                <div class="col-3">
                    <a>Model-10d:</a>
                </div>
                <div class="col-3">
                    <a>Close:{{ trace_data_info.pred10.get_close }} </a>
                </div>
                <div class="col-3">
                    {% if 0 < trace_data_info.pred10.percentage %}
                    <a style="color: #830000;">Pred:{{trace_data_info.pred10.get_pred}}</a>
                    {% else %}
                    <a style="color: #00500b;">Pred:{{trace_data_info.pred10.get_pred}}</a>
                    {% endif %}
                </div>
                <div class="col-3">
                    {% if 0 < trace_data_info.pred10.percentage %}
                    <a style="color: #830000;"><i class="bi bi-arrow-up-circle"></i>{{ trace_data_info.pred10.percentage }}%</a>
                    {% else %}
                    <a style="color: #00500b;"><i class="bi bi-arrow-down-circle"></i>{{ trace_data_info.pred10.percentage }}%</a>
                    {% endif %}
                </div>
                <div class="col-3">
                    <a>WP:{{ trace_data_info.pred10.wp }}%({{ trace_data_info.pred10.count }})</a>
                </div>
                <div class="col-3">
                    <a>LP:{{trace_data_info.pred10.get_lp}}%</a>
                </div>
                <div class="col-3">
                    <a>PWP:{{trace_data_info.pred10.pwp}}%({{trace_data_info.pred10.pred_high}})</a>
                </div>
                <div class="col-3">
                    <a>PLP:{{trace_data_info.pred10.get_plp}}%</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="object-content-info">
            <div class="row">
                <div class="col-12">
                    <a>WP,原始勝率，例，台泥今年漲60次總天數100天，他的原始勝率就是60/100,60%.</a>
                </div>
                <div class="col-12">
                    <a>PWP模型預測勝率，預測會漲大於1趴的10筆，實際真的有6筆都漲了，pwp=6/10，60%.</a>
                </div>
                <div class="col-12">
                    <a>主畫面顯示的是，預測勝率>原始勝率且大於80%，然後按照最新預測百分比排列的前10筆.</a>
                </div>
                <div class="col-12">
                    <a>Strategy,買賣策略，目前使用模型2交易，買入條件是PWP>WP,且大於75%，然後預測結果大於4%.並將其設定為目標值，滿足目標值就賣出.停損點-10%.</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="object-content">
            <h2>No Data</h2>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-5">
        <div class="stock-board">
            <h5>Model-5 days: </h5>
            <ul>
            {% for stock_info in pred5_stock_infos %}
                <li class="stock-item" data-stock-code="{{ stock_info.stock_id }}">
                    <form method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <input type="hidden" name="stock_code" value={{ stock_info.stock_id }}>
                    <div class="row stock_list">
                        <div class="col-3"><p>{{ stock_info.get_stock_name }} <a>({{ stock_info.stock_id }})</a></p></div>
                        <div class="col-3"><p>RMSE:{{ stock_info.rmse }}</p></div>
                        <div class="col-3"><p>價:{{ stock_info.get_close }}</p></div>
                        {% if 0 < stock_info.percentage %}
                            <div class="col-3">
                                <a style="color: #830000;"><i class="bi bi-arrow-up-circle"></i> {{ stock_info.percentage }}%</a>
                            </div>
                        {% else %}
                            <div class="col-3">
                                <a style="color: #00500b;"><i class="bi bi-arrow-down-circle"></i> {{ stock_info.percentage }}%</a>
                            </div>
                        {% endif %}
                        <div class="col-3"><p>WP:{{ stock_info.wp }}%({{ stock_info.count }})</p></div>
                        <div class="col-3"><p>LP:{{ stock_info.get_lp }}%</p></div>
                        <div class="col-3"><p>PWP:{{ stock_info.pwp }}%({{ stock_info.pred_high }})</p></div>
                        <div class="col-3"><p>PLP:{{ stock_info.get_plp }}%</p></div>
                    </div>
                    </form>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="stock-board">
            <h5>Model-10 days: </h5>
            <ul>
            {% for stock_info in pred10_stock_infos %}
                <li class="stock-item" data-stock-code="{{ stock_info.stock_id }}">
                    <form method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <input type="hidden" name="stock_code" value={{ stock_info.stock_id }}>
                    <div class="row stock_list">
                        <div class="col-3"><p>{{ stock_info.get_stock_name }} <a>({{ stock_info.stock_id }})</a></p></div>
                        <div class="col-3"><p>RMSE:{{ stock_info.rmse }}</p></div>
                        <div class="col-3"><p>價:{{ stock_info.get_close }}</p></div>
                        {% if 0 < stock_info.percentage %}
                            <div class="col-3">
                                <a style="color: #830000;"><i class="bi bi-arrow-up-circle"></i> {{ stock_info.percentage }}%</a>
                            </div>
                        {% else %}
                            <div class="col-3">
                                <a style="color: #00500b;"><i class="bi bi-arrow-down-circle"></i> {{ stock_info.percentage }}%</a>
                            </div>
                        {% endif %}
                        <div class="col-3"><p>WP:{{ stock_info.wp }}%({{ stock_info.count }})</p></div>
                        <div class="col-3"><p>LP:{{ stock_info.get_lp }}%</p></div>
                        <div class="col-3"><p>PWP:{{ stock_info.pwp }}%({{ stock_info.pred_high }})</p></div>
                        <div class="col-3"><p>PLP:{{ stock_info.get_plp }}%</p></div>
                    </div>
                    </form>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['date', 'model-5d', 'model-10d', 'close'],
      {% for data in trace_data %}
      [
        '{{ data.date|date:"Y-m-d" }}',
        {% if data.pred1_future %}
          {{ data.pred1_future }},
        {% else %}
          null,
        {% endif %}
        {% if data.pred2_future %}
          {{ data.pred2_future }},
        {% else %}
          null,
        {% endif %}
        {% if data.price %}
          {{ data.price }},
        {% else %}
          null,
        {% endif %}
      ],
      {% endfor %}
    ]);

    var options = {
      chartArea: {width: '80%'},
      width: '100%',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('trace-chart'));
    var traceChart = document.getElementById('trace-chart');

    var width = traceChart.offsetWidth;
    var height = width / 2; // Calculate height as half of the width
    traceChart.style.height = height + 'px';
    chart.draw(data, options);
  }

  google.charts.setOnLoadCallback(drawChipsChart);
  function drawChipsChart() {
    var data = google.visualization.arrayToDataTable([
      ['date', 'model-5d', 'model-10d'],
      {% for data in trace_data %}
      [
        '{{ data.date|date:"Y-m-d" }}',
        {% if data.get_pred1_percentage %}
          {{ data.get_pred1_percentage }},
        {% else %}
          null,
        {% endif %}
        {% if data.get_pred2_percentage %}
          {{ data.get_pred2_percentage }},
        {% else %}
          null,
        {% endif %}
      ],
      {% endfor %}
    ]);

    var options = {
      chartArea: {width: '80%'},
      width: '100%',
      curveType: 'function',
      legend: 'none', // Remove legend
      bar: { groupWidth: '100%' },
      vAxis: {
        viewWindow: {
          max: 20,
          min: -20
        }
      },
      hAxis: {
        gridlines: {
          color: 'transparent' // Hide x-axis gridlines
        },
        textPosition: 'none' // Hide x-axis labels
      }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chips-chart'));
    var traceChart = document.getElementById('chips-chart');

    var width = traceChart.offsetWidth;
    var height = width / 5; // Calculate height as half of the width
    traceChart.style.height = height + 'px';
    chart.draw(data, options);
  }

  function handleChartResize() {
      // Clear the existing chart
      var traceChart = document.getElementById('trace-chart');
      traceChart.innerHTML = '';
      var chipsChart = document.getElementById('chips-chart');
      chipsChart.innerHTML = '';

      // Call drawMultSeries() to redraw the chart
      drawChart();
      chipsChart();
    }

    // Attach the resize event handler
    window.onresize = handleChartResize;
const stockItems = document.querySelectorAll('.stock-item');
  stockItems.forEach((item) => {
    item.addEventListener('click', function() {
      const stockCode = this.dataset.stockCode;
      const form = this.querySelector('form');
      form.querySelector('input[name="stock_code"]').value = stockCode;
      form.submit();
    });
  });
</script>

{% endblock %}
